
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>


<h1 align="center">NGO</h1>
<p align="center"> works for feeding deprived people and children. </p>
<div align="center">
    <button class="btn btn-success" onclick="window.location.href = '/Restaurant/Index';"> Restaurant </button>
    <button class="btn btn-success" onclick="window.location.href = '/NGO/CollectRequest';"> Collect Food Request </button>
</div>

